/* TZ_Project : CSS Principal */
/* Catégorie : Général*/
@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Medium.ttf);
}

html {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #999;
	width:100%;
	height:100%;
	min-height:400px;
	padding: 0;
	margin: 0;
	color: #FFF;
	font-family: 'roboto';
	font-size: 25px;
	background-color: #373643;
	text-transform:uppercase;
}

b, strong {
	color: #FFF;
}

a {
	color: #5BE;
	text-decoration: none;
}

a:hover {
	color: #6CF;
}

h1 {
	color: #2867A5;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h2 {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h3 {
	color: #1E5EB1;
	font-weight: bold;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

input {
	background-color: #111;
	color: #AAA;
	border: 1px solid #444;
	transition: 1s;
	font-size: 30px;
}

input:hover, input:focus{
	background-color: #222;
	border: 1px solid #666;
	transition: 0.5s;
}

#main {
	width: 70%;
	height: 100%;
	margin: auto;
	background-color: transparent;
}

@media (max-width: 800px) {
	#main {
		width: 553px;
	}
}

@media (max-width: 553px) {
	#main {
		width: 100%;
	}
}

.block-contenu {
	background-color: #f2f2f7;
	border: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.top-bar {
	background-color: #f2f2f7;
	border: none;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 90px;
	margin: 0px;
	padding: 0px;
	top:0px;
	margin-bottom: -7px;
}

.table-top-bar {
	width: 100%;
	height: 100%;
}

.td-refresh {
	width: 15%;
	height: 100%;
	min-width:90px;
}

.td-refresh-div {
	width: 100%;
	min-width: 90px;
	height: 100%;
	background-image:url("../images/refresh.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor:default;
}

.td-refresh-div:hover {
	background-image:url("../images/refresh2.png");
}

.td-logo {
	width: 70%;
	height: 100%;
	background-image:url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.td-plus {
	width: 15%;
	height: 100%;
	min-width:90px;
}

.td-plus-div {
	width: 100%;
	min-width: 90px;
	height: 100%;
	background-color: #FFF;
	background-image:url("../images/plus.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor:default;
}

.td-plus-div:hover {
	background-image:url("../images/plus2.png");
}

.bottom-bar {
	background-color: #1d1c24;
	color: #a7a4b4;
	border: none;
	display: inline-block;
	text-align: center;
	line-height: 90px;
	width: 100%;
	height: 90px;
	margin: 0px;
	padding: 0px;
	cursor:default;
}

.bottom-bar:hover {
	color: #FFF;
}

/* Utilisé pour le add */

.bottom-bar-add {
	background-color:#5b52aa !important;
	color:#CCC !important;
}

.bottom-bar-add:hover {
	color:#FFF !important;
}

/* Catégorie : Grid*/

.clock-grid{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
	text-align: center;
}
.orange1 {
	background-color:#eeb934;
}

.orange2 {
	background-color:#e7a235;
}

.orange3 {
	background-color:#dd7632;
}

.violet1 {
	background-color:#6f64bf;
}

.violet2 {
	background-color:#5b52aa;
}

.violet3 {
	background-color:#413d93;
}
.text p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clock-square {
	width: 100%;
	z-index:-1;
}

.clock-grid-content {
	height:0px;
	vertical-align: middle;
	text-align: center;
}

.td-clock-grid {
	width: 50%;
}

div.clock-grid-content {
	display:inline-block;
	position:relative;
	top:0px;
	margin:auto;
	width: 100%;
	padding-bottom: 50%;
}

.clock-titre {
	font-size:26px;
}

.clock-sous-titre {
	font-size:20px;
}

.clock-time {
	font-size: 90px;
}
/* Catégorie : Responsive Grid*/
@media (max-width:800px) {
	.clock-titre {
		font-size:20px;
	}

	.clock-sous-titre {
		font-size:16px;
	}
	
	.clock-time {
	font-size: 60px;
}
}

@media (max-width:500px) {
	.clock-titre {
		font-size:15px;
	}

	.clock-sous-titre {
		font-size:12px;
	}
	
	.clock-time {
	font-size: 40px;
}
}

/* Catégorie : Line*/

.clock-line{
    width: 100%;
	height: 25%;
    overflow: hidden;
	text-align: center;
}

.clock-line-content {
	height:100%;
	vertical-align: middle;
	text-align: center;
}

div.clock-line-content {
	vertical-align: middle;
	display:inline-block;
	width: 100%;
    height: 100%;
	padding-top:10px;
}

.clock-line-titre {
	font-size:26px;
	float:left;
	padding-left: 10px;
}

.clock-line-sous-titre {
	font-size:20px;
	float:left;
	padding-left: 10px;
}

.clock-line-time {
	font-size: 90px;
	float:right;
	padding-right: 10px;
	padding-top:5%;
}

/* Catégorie : Responsive Line*/

@media (max-height:700px) {
	.clock-line-titre {
		font-size:20px;
	}

	.clock-line-sous-titre {
		font-size:16px;
	}
	
	.clock-line-time {
		font-size: 60px;
	}
	
	div.clock-line-content {
		padding-top:5px;
	}
}

@media (max-height:500px) {
	.clock-line-titre {
		font-size:18px;
	}

	.clock-line-sous-titre {
		font-size:14px;
	}
	
	.clock-line-time {
		font-size: 50px;
	}
	
	div.clock-line-content {
		padding-top:0px;
	}
}

@media (max-width:400px) {
	.clock-line-titre {
		font-size:17px;
	}

	.clock-line-sous-titre {
		font-size:13px;
	}
	
	.clock-line-time {
	font-size: 45px;
	}
}

@media (max-height:400px) {
	.clock-line-titre {
		font-size:16px;
	}

	.clock-line-sous-titre {
		font-size:12px;
	}
	
	.clock-line-time {
	font-size: 40px;
	}
}

/* Catégorie : Add*/

.td-search-title {
	width: 85%;
	height: 100%;
	min-width:90px;
	color:#a7a4b4;
	font-size:35px;
	padding-left:2%;
}

.td-search-icon {
	width: 15%;
	height: 100%;
	min-width:90px;
}

.td-search-div {
	width: 100%;
	min-width: 90px;
	height: 100%;
	background-image:url("../images/search.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor:default;
}

.td-search-div:hover {
	background-image:url("../images/search2.png");
}

.search-line {
	width: 100%;
	height: 20%;
    overflow: hidden;
	text-align: left;
}

.search-line-content {
	height:100%;
	width: 100%;
	text-align: left;
	padding-top: 33px;
	padding-left: 20px;
	color:#a7a4b4;
}

.nightblue1 {
	background-color:#272530;
}

.nightblue2 {
	background-color:#1d1c24;
}

.search-line-titre {
	font-size:26px;
}

.search-line-sous-titre {
	font-size:20px;
}

.search-check-icon {
	width: 100%;
	height: 100%;
	background-image:url("../images/check.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor:default;
}

.td-search-text {
	width:90%;
	min-width:90%;
	vertical-align: middle;
}

.td-search-check-icon {
	width: 10%;
	min-width: 27px;
	height: 100%;
}

.search-check-icon:hover {
	background-image:url("../images/check2.png");
}

/* Catégorie : Responsive Add*/

@media(max-width: 1000px) {
	div.bottom-bar-add {
		font-size: 20px !important;
	}
	
	div.bottom-bar-login{
		font-size: 22px !important;
	}	
}

@media(max-width: 650px) {
	div.bottom-bar-add {
		font-size: 16px !important;
	}
	div.bottom-bar-login{
		font-size: 18px !important;
	}	
}

@media(max-width: 450px) {
	div.bottom-bar-add {
		font-size: 12px !important;
	}
	div.bottom-bar-login{
		font-size: 12px !important;
	}	
}

@media(max-width:430px){
	.td-search-title{
		font-size:21px;
	}
}

@media (max-height:500px) {
	.search-line-titre {
		font-size:24px;
	}

	.search-line-sous-titre {
		font-size:18px;
	}
}

@media (max-width:400px) {
	.search-line-titre {
		font-size:17px;
	}

	.search-line-sous-titre {
		font-size:13px;
	}
}

@media (max-height:550px) {
	div.search-line-content {
		padding-top: 23px;
	}
}

@media (max-height:500px) {
	div.search-line-content {
		padding-top: 20px;
	}
}

@media (max-height:400px) {
	.search-line-titre {
		font-size:17px;
	}

	.search-line-sous-titre {
		font-size:13px;
	}
	
	div.search-line-content {
		padding-top: 18px;
	}
}

/* Catégorie : Login */
.bottom-bar-login {
	background-color: #1d1c24;
	color: #a7a4b4;
	border: none;
	display: inline-block;
	text-align: center;
	line-height: 90px;
	width: 100%;
	height: 90px;
	margin: 0px;
	padding: 0px;
	cursor:default;
}

.bottom-bar-login:hover {
	color: #a7a4b4;
}

.login-line {
	width: 100%;
	height: 63%;
    overflow: hidden;
	text-align: center;
	min-height:350px;
}

.login-line-content {
	height:100%;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	color:#a7a4b4;
}

.nightblue1 {
	background-color:#272530;
}

.nightblue2 {
	background-color:#1d1c24;
}

.login-line-titre {
	font-size:40px;
}

.login-line-sous-titre {
	font-size:25px;
}

.login-check-icon {
	width: 100%;
	height: 100%;
	background-image:url("../images/check.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor:default;
}

.td-login-text {
	width:90%;
	min-width:90%;
	vertical-align: middle;
}

.td-login-check-icon {
	width: 10%;
	min-width: 27px;
	height: 100%;
}

.login-check-icon:hover {
	background-image:url("../images/check2.png");
}

.submit-login {
	border: none;
	background-color:#111;
	transition: 0.2s;
	text-transform: uppercase;
	font-size: 25px;
	padding:5px;
	width:50%;
	min-width:280px;
	font-family: 'roboto';
}

.submit-login:hover,.submit-login:focus,.submit-login:active {
	border: none;
	background-color:#252525;
	transition: 0.2s;
}


.input-login {
	font-size: 20px;
	border: none;
	background-color:#111;
	transition: 0.2s;
	font-family: 'roboto';
}

.input-login:hover,.input-login:focus,.input-login:active {
	border: none;
	background-color:#252525;
	transition: 0.2s;
}