/* TZ_Project : CSS Principal */

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Medium.ttf);
}

html {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #999;
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
	color: #FFF;
	font-family: 'roboto';
	font-size: 25px;
	background-color: #373643;
	text-transform:uppercase;
}

b, strong {
	color: #FFF;
}

a {
	color: #5BE;
	text-shadow: 0 0 10px transparent;
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: #6CF;
	transition: 0.2s;
	text-shadow: 0 0 5px #6CF;
}

h1 {
	color: #2867A5;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h2 {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h3 {
	color: #1E5EB1;
	font-weight: bold;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

input {
	background-color: #111;
	color: #AAA;
	border: 1px solid #444;
	transition: 1s;
	font-size: 20px;
}

input:hover, input:focus{
	background-color: #222;
	border: 1px solid #666;
	transition: 0.5s;
}

#main {
	width: 70%;
	height: 100%;
	margin: auto;
	background-color: transparent;
}

@media (max-width: 800px) {
	#main {
		width: 553px;
	}
}

@media (max-width: 553px) {
	#main {
		width: 100%;
	}
}

.block-contenu {
	background-color: #f2f2f7;
	border: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.top-bar {
	background-color: #f2f2f7;
	border: none;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 90px;
	margin: 0px;
	padding: 0px;
	top:0px;
}

.table-top-bar {
	width: 100%;
	height: 100%;
}

.td-refresh {
	width: 15%;
	min-width: 90px;
	height: 100%;
	background-image:url("../images/refresh.png");
	background-repeat: no-repeat;
	background-position: center;
}

.td-refresh:hover {
	background-image:url("../images/refresh2.png");
}

.td-logo {
	width: 70%;
	height: 100%;
	background-image:url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.td-plus {
	width: 15%;
	min-width: 90px;
	height: 100%;
	background-color: #FFF;
	background-image:url("../images/plus.png");
	background-repeat: no-repeat;
	background-position: center;
}

.td-plus:hover {
	background-image:url("../images/plus2.png");
}

.buttom-bar {
	background-color: #1d1c24;
	color: #a7a4b4;
	border: none;
	display: inline-block;
	text-align: center;
	line-height: 90px;
	width: 100%;
	height: 90px;
	margin: 0px;
	padding: 0px;
	cursor:default;
}

.buttom-bar:hover {
	color: #FFF;
}

.clock-grid{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
	text-align: center;
}
.orange1 {
	background-color:#eeb934;
}

.orange2 {
	background-color:#e7a235;
}

.orange3 {
	background-color:#dd7632;
}

.violet1 {
	background-color:#6f64bf;
}

.violet2 {
	background-color:#5b52aa;
}

.violet3 {
	background-color:#413d93;
}
.text p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clock-square {
	width: 100%;
	position:relative;
	top:0;
	left:0;
	z-index:-1;
}

.clock-grid-content {
	height:0px;
	vertical-align: middle;
	text-align: center;
}

.td-clock-grid {
	width: 50%;
}

div.clock-grid-content {
	display:inline-block;
	width: 100%;
    height: 25px;
	margin-bottom:-500px;
	padding-top: 70%;
}

.clock-titre {
	font-size:26px;
}

.clock-sous-titre {
	font-size:20px;
}

@media (max-width:800px) {
	.clock-titre {
		font-size:20px;
	}

	.clock-sous-titre {
		font-size:16px;
	}
}

@media (max-width:500px) {
	.clock-titre {
		font-size:15px;
	}

	.clock-sous-titre {
		font-size:12px;
	}
}