/* TZ_Project : CSS Principal */

html {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #999;
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background-image:url("../images/bg_main.jpg");
	background-position:center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

b, strong {
	color: #DDD;
}

a {
	color: #5BE;
	text-shadow: 0 0 10px transparent;
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: #6CF;
	transition: 0.2s;
	text-shadow: 0 0 5px #6CF;
}

h1 {
	color: #2867A5;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h2 {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h3 {
	color: #1E5EB1;
	font-weight: bold;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

input {
	background-color: #111;
	color: #AAA;
	border: 1px solid #444;
	transition: 1s;
	font-size: 20px;
}

input:hover, input:focus{
	background-color: #222;
	border: 1px solid #666;
	transition: 0.5s;
}

#main {
	width: 700px;
	height: auto;
	margin: auto;
	padding-left: 50px;
	padding-right: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(0,0,0,0.1);
}

div.block-contenu {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #555;
	display: inline-block;
	text-align: justify;
	width: 100%;
	margin: 5px;
	padding: 5px;
}

div.no-padding {
	padding:0px !important;
	width: 710px;
}

.button_submit, .button_cancel {
	width: 300px;
}

form.centered {
	text-align: center;
}

input {
	border: none;
	transition: 1s;
	font-size: 23px;
	padding: 10px;
	padding-left:3px;
	padding-right:3px;
	transition: 0.5s;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1) inset;
}

input.button_submit {
	background-color: #338914;
	color: #EEE;
}

input.button_submit:hover, input.button_submit:focus{
	transition: 0.2s;
	color: #FFF;
	background-color: #46B91E;
	border: none;
}

input.button_cancel {
	background-color: #751010;
	color: #EEE;
}

input.button_cancel:hover, input.button_cancel:focus{
	transition: 0.2s;
	color: #FFF;
	background-color: #A71818;
	border: none;
}

hr {
	border: none;
	border-top: 1px solid #444;
	padding: 0px;
	margin: 0px;
}

.clock-grid{
	display: inline-block;
	border: none;
	text-align: center;
	float: center;
	width: 150px;
	padding: 5px;
	padding-top: 68px;
	padding-bottom: 68px;
	margin: 5px;
	color: #000;
	transition: 0.2s;
	background-color: #BBB;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1) inset;
}

.clock-grid:hover {
	background-color: #FFF;
}
/*
.clock-grid.red {
	background-color: #A00;
}

.clock-grid.red:hover {
	background-color: #C00;
}

.clock-grid.orange {
	background-color: #D88C1B;
}

.clock-grid.orange:hover {
	background-color: #E69521;
}

.clock-grid.yellow {
	background-color: #E7E734;
}

.clock-grid.yellow:hover {
	background-color: #F7F740;
}

.clock-grid.green {
	background-color: #2BD52B;
}

.clock-grid.green:hover {
	background-color: #35E537;
}

.clock-grid.blue {
	background-color: #254AB7;
}

.clock-grid.blue:hover {
	background-color: #3258C7;
}

.clock-grid.purple {
	background-color: #852AC2;
}

.clock-grid.purple:hover {
	background-color: #9335D2;
}
*/



.clock-list-element{
	display: inline-block;
	border: none;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #BBB;
	text-align: center;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1) inset;
}

.clock-list-element:hover{
	transition: 0.5s;
	background-color: #FFF;
}